html,body,#app{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #fff;
}
@mixin clearfix {
    zoom: 1;
    &::after {
        content: "";
        display: table;
        clear: both;
        overflow: hidden;
    }
}
strong{
    font-weight: bold;
}
body{
    overflow-x: hidden;
}
