.jtxd {
    @include clearfix;
    .left {
        .main {
            .part1 {
                .section {
                    @include clearfix;
                    margin-bottom: 35px;
                    .section_s {
                        width: 50%;
                        height: inherit;
                        margin: 13px 0 0;
                        img {
                            float: left;
                        }
                        .txt {
                            width: 100px;
                            float: left;
                            font-size: 10px;
                            margin-left: 10px;
                            line-height: 17px;
                            strong {
                                font-size: 15px;
                            }
                            .color1 {
                                color: #0b72e8;
                            }
                            .color2 {
                                color: #00dd8f;
                            }
                        }
                    }
                    .section_l {
                        float: left;
                    }
                    .section_r {
                        float: right;
                    }
                }
            }
            .part2 {
                height: 240px;
                #jtxdChart1 {
                    height: 220px;
                }
            }
            .part3 {
                margin-top: 20px;
                height: 256px;
                #jtxdChart2 {
                    height: 230px;
                }
            }
        }
    }
    .middle{
        .middle_bottom{
            .main{
                position: relative;
                .inner{
                    position: absolute;
                    left: 50%;
                    top:45%;
                    transform: translate(-50%,-45%);
                    span{
                        position: relative;
                        top: -8px;
                        left: 10px;
                        font-size: 20px;
                        color: #18d3fe;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .right {
        .main {
            .part1 {
                margin-bottom: 30px;
                .section {
                    @include clearfix;
                    .section_s {
                        height: inherit;
                        margin: 13px 0 0;
                        img {
                            float: left;
                        }
                        .txt {
                            width: 115px;
                            float: left;
                            font-size: 10px;
                            position: relative;
                            top: 7px;
                            left: 10px;
                            line-height: 17px;
                            strong {
                                font-size: 15px;
                            }
                            .color1{
                                color: #00dd8f;
                            }
                        }
                    }
                    .section_l {
                        float: left;
                        width: 55%;
                    }
                    .section_r {
                        float: right;
                       
                    }
                }
            }
            .part2{
                height: 267px;
                #jtxdChart3{
                    height: 240px;
                }
            }
            .part3{
                height: 215px;
                margin-top: 30px;
                #jtxdChart4{
                    height: 200px;
                }
            }
        }
    }
}